<html>
  <head>
    <meta charset="UTF-8">
    <title>Survey</title>
  </head>

  <body>
    <h1>Survey</h1>

    <form method= "POST" action= "/survey">

    <div>
    <input type="checkbox" id="check1"/>
    <label for="check1">
      <div><i class="fa fa-check"></i></div> Vegan
    </label>
</div>
<br>
<div>
    <input type="checkbox" id="check2"/>
    <label for="check2">
      <div><i class="fa fa-check"></i></div> Peanut-Free
    </label>
</div>
<br>
<div>
    <input type="checkbox" id="check3"/>
    <label for="check3">
      <div><i class="fa fa-check"></i></div> Tree Nut-Free
    </label>
</div>
<br>
<div>
    <input type="checkbox" id="check4"/>
    <label for="check4">
      <div><i class="fa fa-check"></i></div> Dairy-Free
    </label>
</div>
<br>
<a>
    <input type="checkbox" id="check5"/>
    <label for="check5">
      <div><i class="fa fa-check"></i></div> Egg-Free
    </label>
</a>
<br>
<b>
    <input type="checkbox" id="check6"/>
    <label for="check6">
      <div><i class="fa fa-check"></i></div> Soy-Free
    </label>
</b>
<br>
<x>
    <input type="checkbox" id="check7"/>
    <label for="check7">
      <div><i class="fa fa-check"></i></div> Gluten-Free
    </label>
</x>

<form>

<button formaction="file:///Users/apple/Desktop/results.html" >Submit</button>

</form>

</form>


  </body>
</html>
